<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--修改一些默认的常量属性，具体可以修改的属性见mybatis提供的Configuration.class-->
    <settings>
        <!--允许在嵌套语句中使用分页（RowBounds）。如果允许使用则设置为 false。-->
        <setting name="safeRowBoundsEnabled" value="true"/>
        <!--全局地开启或关闭配置文件中的所有映射器已经配置的任何缓存。-->
        <setting name="cacheEnabled" value="false" />
        <!--	允许 JDBC 支持自动生成主键，需要驱动支持。 如果设置为 true 则这个设置强制使用自动生成主键-->
        <setting name="useGeneratedKeys" value="true" />
    </settings>

    <!--给本地class一个别名，这样在xml中可以直接用这个别名来代替这个类-->
    <!--<typeAliases>-->
    <!---->
    <!--</typeAliases>-->

    <!--一些插件，比如可以实现对sql的拦截监听等-->
    <!--<plugins>-->
    <!--<plugin interceptor=""></plugin>-->
    <!--</plugins>-->

</configuration>